# IMAGE_NAME=songhuangcn/devcontainer
# IMAGE_TAG=latest

# OPENCODE_PORT=4096

# OPENCLAW_GATEWAY_PORT=18789
# OPENCLAW_GATEWAY_TOKEN=replace-with-a-random-token

# MULTICA_TOKEN=mul_replace-with-your-personal-access-token
